{% extends 'base.html.twig' %}


{% block container %}

    <h1>Créer un utilisateurs | <a href="{{ path('app_user') }}" class"btn btn-sm btn-success"> Retour aux utilisateurs</a></h1>

    <div class="row mt-2">

        <hr>

        <h1>Formulaire de création d'un utilisateur</h1>   
        
        {{ form_start(form)}}
        <div class="col-md-6 mb-2">
            <div class="form-group">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="col-md-6 mb-2">
            <div class="form-group">
                {{ form_widget(form.date_inscription) }}
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Valider</button>

        {{ form_end(form)}}

    </div>


{% endblock %}